#-  NPM configuration file

#-  .npmignore ~~
#                                                       ~~ (c) SRW, 18 Aug 2012
#                                                   ~~ last updated 24 Dec 2014

.bowerrc
.gitignore
.hgignore
.travis.yml
bower.json
component.json
docs/
Makefile
npm-debug.log
share/
test/

#-  vim:set syntax=gitconfig:
